<?xml version='1.0' encoding='utf-8'?>
<robot name="XBR" version="1.0">
  <joint name="Spine_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.000001 10.805687 0.891004" />
    <parent link="hc_Abdomen" />
    <child link="Spine" />
    <axis xyz="1.00000 0.00000 0.00000" />
  </joint>
  <joint name="hc_Chest_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.000002 19.206864 -1.350594" />
    <parent link="Spine" />
    <child link="hc_Chest" />
    <axis xyz="1.00000 0.00000 0.00000" />
  </joint>
  <joint name="hc_Middle3_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="3.48915 0.14121 -1.05876" />
    <parent link="hc_Middle2_L" />
    <child link="hc_Middle3_L" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <joint name="hc_Pinky1_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="10.52201 4.24597 -0.88441" />
    <parent link="hc_Hand_L" />
    <child link="hc_Pinky1_L" />
    <axis xyz="0.00000 0.70711 0.70711" />
  </joint>
  <joint name="hc_Pinky2_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="3.54935 0.21258 -0.33131" />
    <parent link="hc_Pinky1_L" />
    <child link="hc_Pinky2_L" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <joint name="hc_Pinky3_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="2.95145 0.27796 -0.31311" />
    <parent link="hc_Pinky2_L" />
    <child link="hc_Pinky3_L" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <joint name="hc_Ring1_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="11.73323 2.37562 -0.28160" />
    <parent link="hc_Hand_L" />
    <child link="hc_Ring1_L" />
    <axis xyz="0.00000 0.70711 0.70711" />
  </joint>
  <joint name="hc_Ring2_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="4.39322 0.01455 -0.48070" />
    <parent link="hc_Ring1_L" />
    <child link="hc_Ring2_L" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <joint name="hc_Ring3_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="3.37516 0.12593 -0.83743" />
    <parent link="hc_Ring2_L" />
    <child link="hc_Ring3_L" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <joint name="hc_Thumb1_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="4.90303 -2.67808 -1.88380" />
    <parent link="hc_Hand_L" />
    <child link="hc_Thumb1_L" />
    <axis xyz="0.57735 0.57735 0.57735" />
  </joint>
  <joint name="hc_Thumb2_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="3.09602 -2.03909 -1.11005" />
    <parent link="hc_Thumb1_L" />
    <child link="hc_Thumb2_L" />
    <axis xyz="0.00000 0.00000 1.00000" />
  </joint>
  <joint name="hc_Thumb3_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="4.05363 -0.26535 -0.00905" />
    <parent link="hc_Thumb2_L" />
    <child link="hc_Thumb3_L" />
    <axis xyz="0.00000 0.00000 1.00000" />
  </joint>
  <joint name="hc_Shoulder_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="18.022637 22.386749 -8.231029" />
    <parent link="hc_Chest" />
    <child link="hc_Shoulder_L" />
    <axis xyz="0.57735 0.57735 0.57735" />
  </joint>
  <joint name="hc_Shoulder_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-18.022604 22.386846 -8.231027" />
    <parent link="hc_Chest" />
    <child link="hc_Shoulder_R" />
    <axis xyz="0.57735 0.57735 0.57735" />
  </joint>
  <joint name="hc_Elbow_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-29.683245 -0.810691 -2.941978" />
    <parent link="hc_Shoulder_R" />
    <child link="hc_Elbow_R" />
    <axis xyz="0.00000 0.00000 1.00000" />
  </joint>
  <joint name="hc_Hand_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-26.948693 1.050499 0.570555" />
    <parent link="hc_Elbow_R" />
    <child link="hc_Hand_R" />
    <axis xyz="0.57735 0.57735 0.57735" />
  </joint>
  <joint name="XBR.039_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-10.47224 4.45592 -0.12105" />
    <parent link="hc_Hand_R" />
    <child link="XBR.039" />
    <axis xyz="0.00000 0.70711 0.70711" />
  </joint>
  <joint name="hc_Pinky2_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-3.54642 0.35117 0.22394" />
    <parent link="XBR.039" />
    <child link="hc_Pinky2_R" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <joint name="hc_Pinky3_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-2.96224 0.33088 0.04056" />
    <parent link="hc_Pinky2_R" />
    <child link="hc_Pinky3_R" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <joint name="hc_Index1_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-12.14677 -2.37825 0.11612" />
    <parent link="hc_Hand_R" />
    <child link="hc_Index1_R" />
    <axis xyz="0.00000 0.70711 0.70711" />
  </joint>
  <joint name="hc_Index2_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-4.26130 -0.15711 -0.45171" />
    <parent link="hc_Index1_R" />
    <child link="hc_Index2_R" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <joint name="hc_Index3_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-3.37219 -0.18247 -0.33429" />
    <parent link="hc_Index2_R" />
    <child link="hc_Index3_R" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <joint name="hc_Middle1_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-12.29563 0.24798 0.83629" />
    <parent link="hc_Hand_R" />
    <child link="hc_Middle1_R" />
    <axis xyz="0.00000 0.70711 0.70711" />
  </joint>
  <joint name="hc_Elbow_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="29.835465 -0.514149 -0.048996" />
    <parent link="hc_Shoulder_L" />
    <child link="hc_Elbow_L" />
    <axis xyz="0.00000 0.00000 1.00000" />
  </joint>
  <joint name="hc_Middle2_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-4.62748 -0.23559 -0.25168" />
    <parent link="hc_Middle1_R" />
    <child link="hc_Middle2_R" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <joint name="hc_Middle3_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-3.63168 -0.13936 -0.32631" />
    <parent link="hc_Middle2_R" />
    <child link="hc_Middle3_R" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <joint name="hc_Ring1_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-11.68540 2.57811 0.45404" />
    <parent link="hc_Hand_R" />
    <child link="hc_Ring1_R" />
    <axis xyz="0.00000 0.70711 0.70711" />
  </joint>
  <joint name="hc_Ring2_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-4.40933 0.08991 0.28238" />
    <parent link="hc_Ring1_R" />
    <child link="hc_Ring2_R" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <joint name="hc_Ring3_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-3.47948 0.00092 0.05002" />
    <parent link="hc_Ring2_R" />
    <child link="hc_Ring3_R" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <joint name="hc_Thumb1_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-5.04441 -2.50148 -1.74937" />
    <parent link="hc_Hand_R" />
    <child link="hc_Thumb1_R" />
    <axis xyz="0.57735 0.57735 0.57735" />
  </joint>
  <joint name="hc_Thumb2_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-3.13231 -2.26392 -0.19972" />
    <parent link="hc_Thumb1_R" />
    <child link="hc_Thumb2_R" />
    <axis xyz="0.00000 0.00000 1.00000" />
  </joint>
  <joint name="hc_Thumb3_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-4.01283 -0.49137 -0.39575" />
    <parent link="hc_Thumb2_R" />
    <child link="hc_Thumb3_R" />
    <axis xyz="0.00000 0.00000 1.00000" />
  </joint>
  <joint name="neck_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 4.35856 29.65900" />
    <parent link="hc_Chest" />
    <child link="neck" />
    <axis xyz="0.57735 0.57735 0.57735" />
  </joint>
  <joint name="hc_Head_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -1.89722 9.09532" />
    <parent link="neck" />
    <child link="hc_Head" />
    <axis xyz="0.57735 0.57735 0.57735" />
  </joint>
  <joint name="hc_Hand_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="26.946085 -0.802015 -0.960955" />
    <parent link="hc_Elbow_L" />
    <child link="hc_Hand_L" />
    <axis xyz="0.57735 0.57735 0.57735" />
  </joint>
  <joint name="hc_Hip_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="9.005810 -1.450768 0.526112" />
    <parent link="hc_Abdomen" />
    <child link="hc_Hip_L" />
    <axis xyz="0.57735 0.57735 0.57735" />
  </joint>
  <joint name="hc_Knee_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.091374 -42.552638 -1.281782" />
    <parent link="hc_Hip_L" />
    <child link="hc_Knee_L" />
    <axis xyz="1.00000 0.00000 0.00000" />
  </joint>
  <joint name="hc_Foot_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.164884 -39.706968 -6.252160" />
    <parent link="hc_Knee_L" />
    <child link="hc_Foot_L" />
    <axis xyz="1.00000 0.00000 0.00000" />
  </joint>
  <joint name="LeftToeBase_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.54641 -16.43450 -10.66162" />
    <parent link="hc_Foot_L" />
    <child link="LeftToeBase" />
    <axis xyz="1.00000 0.00000 0.00000" />
  </joint>
  <joint name="hc_Hip_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-9.005810 -1.450803 0.526112" />
    <parent link="hc_Abdomen" />
    <child link="hc_Hip_R" />
    <axis xyz="0.57735 0.57735 0.57735" />
  </joint>
  <joint name="hc_Knee_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.966525 -42.541737 -1.281451" />
    <parent link="hc_Hip_R" />
    <child link="hc_Knee_R" />
    <axis xyz="1.00000 0.00000 0.00000" />
  </joint>
  <joint name="hc_Foot_R_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.921887 -39.692996 -6.275225" />
    <parent link="hc_Knee_R" />
    <child link="hc_Foot_R" />
    <axis xyz="1.00000 0.00000 0.00000" />
  </joint>
  <joint name="RightToeBase_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="-0.54641 -16.43450 -10.66162" />
    <parent link="hc_Foot_R" />
    <child link="RightToeBase" />
    <axis xyz="1.00000 0.00000 0.00000" />
  </joint>
  <joint name="hc_Index1_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="12.09528 -2.59904 -0.39874" />
    <parent link="hc_Hand_L" />
    <child link="hc_Index1_L" />
    <axis xyz="0.00000 0.70711 0.70711" />
  </joint>
  <joint name="hc_Index2_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="4.24028 0.10072 -0.62769" />
    <parent link="hc_Index1_L" />
    <child link="hc_Index2_L" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <joint name="hc_Index3_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="3.30335 0.05465 -0.77686" />
    <parent link="hc_Index2_L" />
    <child link="hc_Index3_L" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <joint name="hc_Middle1_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="12.32464 0.05557 0.18277" />
    <parent link="hc_Hand_L" />
    <child link="hc_Middle1_L" />
    <axis xyz="0.00000 0.70711 0.70711" />
  </joint>
  <joint name="hc_Middle2_L_joint" type="revolute">
    <limit lower="-3.14000" upper="3.14000" effort="0.00000" velocity="0.00000" />
    <origin rpy="0.00000 0.00000 0.00000" xyz="4.56205 0.00272 -0.84987" />
    <parent link="hc_Middle1_L" />
    <child link="hc_Middle2_L" />
    <axis xyz="0.00000 1.00000 0.00000" />
  </joint>
  <link name="hc_Abdomen">
    <inertial>
      <inertia ixx="41.58723" ixy="0.00000" ixz="0.00000" iyy="39.33382" iyz="-3.34173" izz="51.87877" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 1.52648 0.09707" />
      <mass value="0.50000" />
    </inertial>
    <visual name="polySurface23">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 0.32384 -1.32094" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface23.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="Spine">
    <inertial>
      <inertia ixx="31.42075" ixy="0.00000" ixz="-0.00000" iyy="32.13266" iyz="0.44273" izz="29.89631" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00000 -1.58546 7.11653" />
      <mass value="0.40000" />
    </inertial>
    <visual name="polySurface90">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 -0.00000 0.00000" xyz="-0.00000 -0.00001 -0.00392" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface90.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Middle2_L">
    <inertial>
      <inertia ixx="0.02365" ixy="-0.00012" ixz="0.00607" iyy="0.07108" iyz="-0.00003" izz="0.06747" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="1.12070 -0.01806 -0.18895" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface17">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 -0.00000" xyz="-0.00334 -0.00040 -0.00537" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface17.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Middle3_L">
    <inertial>
      <inertia ixx="0.01493" ixy="-0.00117" ixz="0.00218" iyy="0.06479" iyz="0.00004" izz="0.06340" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="1.03770 -0.06906 0.04549" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface46">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 -0.00000 0.00000" xyz="-0.00347 -0.00040 -0.00533" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface46.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Pinky1_L">
    <inertial>
      <inertia ixx="0.02871" ixy="-0.00433" ixz="0.00322" iyy="0.08398" iyz="-0.00036" izz="0.08044" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="1.17578 0.13323 0.03609" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface50">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 -0.00000 -0.00000" xyz="-0.00311 -0.00055 -0.00536" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface50.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Pinky2_L">
    <inertial>
      <inertia ixx="0.01790" ixy="-0.00322" ixz="-0.00228" iyy="0.05712" iyz="-0.00059" izz="0.05525" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="1.05564 0.07152 -0.00247" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface19">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00324 -0.00056 -0.00536" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface19.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Pinky3_L">
    <inertial>
      <inertia ixx="0.01085" ixy="-0.00232" ixz="-0.00036" iyy="0.04012" iyz="-0.00007" izz="0.03986" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.77339 -0.04761 0.03284" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface51">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 -0.00000 -0.00000" xyz="-0.00334 -0.00057 -0.00534" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface51.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Ring1_L">
    <inertial>
      <inertia ixx="0.03901" ixy="-0.00132" ixz="0.00729" iyy="0.11670" iyz="-0.00106" izz="0.11083" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="1.49680 0.10282 0.01364" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface85">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 -0.00000 0.00000" xyz="-0.00315 -0.00048 -0.00539" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface85.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Ring2_L">
    <inertial>
      <inertia ixx="0.02297" ixy="-0.00136" ixz="0.00311" iyy="0.07024" iyz="-0.00045" izz="0.06766" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="1.14128 0.05593 -0.10016" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface83">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00333 -0.00048 -0.00537" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface83.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Ring3_L">
    <inertial>
      <inertia ixx="0.01519" ixy="-0.00178" ixz="0.00422" iyy="0.05199" iyz="0.00022" izz="0.05123" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.88098 -0.02821 -0.08228" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface80">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00343 -0.00049 -0.00534" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface80.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Thumb1_L">
    <inertial>
      <inertia ixx="0.45498" ixy="0.09500" ixz="0.01070" iyy="0.71204" iyz="0.03246" izz="0.73518" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="1.48590 -1.03950 -0.35152" />
      <mass value="0.20000" />
    </inertial>
    <visual name="polySurface32">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 -0.00000 0.00000" xyz="-0.00291 -0.00030 -0.00533" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface32.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Thumb2_L">
    <inertial>
      <inertia ixx="0.04834" ixy="0.00226" ixz="0.00269" iyy="0.10276" iyz="-0.00124" izz="0.10655" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="1.27042 -0.16503 -0.08553" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface20">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 -0.00000" xyz="-0.00301 -0.00022 -0.00528" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface20.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Chest">
    <inertial>
      <inertia ixx="44.20150" ixy="-0.00003" ixz="-0.00007" iyy="54.04597" iyz="-5.51304" izz="45.82428" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00002 3.89475 13.19600" />
      <mass value="0.30000" />
    </inertial>
    <visual name="polySurface33">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="-0.00000 -0.00005 -0.00463" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface33.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Thumb3_L">
    <inertial>
      <inertia ixx="0.02823" ixy="0.00806" ixz="0.00391" iyy="0.07314" iyz="-0.00021" izz="0.07403" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="1.15031 -0.09032 -0.10347" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface31">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="-0.00317 -0.00021 -0.00528" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface31.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Shoulder_R">
    <inertial>
      <inertia ixx="5.44539" ixy="2.23811" ixz="-2.81342" iyy="18.56152" iyz="0.50982" izz="20.00404" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-11.13284 0.71488 0.59926" />
      <mass value="0.20000" />
    </inertial>
    <visual name="polySurface1">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 -0.00000 0.00000" xyz="0.00066 -0.00036 -0.00546" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface1.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Elbow_R">
    <inertial>
      <inertia ixx="1.14650" ixy="0.08118" ixz="0.32741" iyy="7.12296" iyz="0.03402" izz="7.15225" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-9.48665 0.58326 0.41449" />
      <mass value="0.10000" />
    </inertial>
    <visual name="polySurface27">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 0.00000 0.00000" xyz="0.00175 -0.00046 -0.00543" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface27.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Hand_R">
    <inertial>
      <inertia ixx="3.16536" ixy="0.31272" ixz="0.13296" iyy="8.44024" iyz="-0.06631" izz="9.81006" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-4.92881 0.47191 -0.02190" />
      <mass value="0.50000" />
    </inertial>
    <visual name="polySurface2">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 -0.00000 0.00000" xyz="0.00273 -0.00044 -0.00546" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface2.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="XBR.039">
    <inertial>
      <inertia ixx="0.02939" ixy="0.00636" ixz="0.00482" iyy="0.08356" iyz="-0.00124" izz="0.08019" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-1.14854 0.17886 0.21857" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface42">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="0.00311 -0.00061 -0.00546" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface42.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Pinky2_R">
    <inertial>
      <inertia ixx="0.01901" ixy="0.00345" ixz="0.00659" iyy="0.05711" iyz="-0.00090" izz="0.05415" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-1.04684 0.08330 0.12160" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface57">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00325 -0.00062 -0.00546" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface57.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Pinky3_R">
    <inertial>
      <inertia ixx="0.01139" ixy="0.00260" ixz="0.00375" iyy="0.04007" iyz="-0.00036" izz="0.03937" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.76493 -0.04092 0.11755" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface43">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00335 -0.00063 -0.00546" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface43.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Index1_R">
    <inertial>
      <inertia ixx="0.03726" ixy="-0.00160" ixz="-0.00610" iyy="0.11508" iyz="0.00034" izz="0.11015" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-1.55585 -0.03755 -0.03961" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface36">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="0.00317 -0.00036 -0.00546" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface36.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Index2_R">
    <inertial>
      <inertia ixx="0.02340" ixy="-0.00436" ixz="0.00191" iyy="0.07078" iyz="0.00055" izz="0.06793" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-1.05147 -0.11604 0.01970" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface93">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 0.00000 -0.00000" xyz="0.00333 -0.00035 -0.00546" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface93.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Index3_R">
    <inertial>
      <inertia ixx="0.01412" ixy="-0.00253" ixz="0.00058" iyy="0.05070" iyz="0.00020" izz="0.05029" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.84947 -0.04158 0.01321" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface95">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 -0.00000 -0.00000" xyz="0.00346 -0.00034 -0.00545" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface95.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Shoulder_L">
    <inertial>
      <inertia ixx="5.08368" ixy="-0.61111" ixz="2.79600" iyy="18.94383" iyz="0.37433" izz="19.98344" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="11.14353 -0.24963 0.75208" />
      <mass value="0.20000" />
    </inertial>
    <visual name="polySurface3">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 0.00000 0.00000" xyz="-0.00066 -0.00036 -0.00545" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface3.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Middle1_R">
    <inertial>
      <inertia ixx="0.04165" ixy="-0.00505" ixz="-0.00481" iyy="0.13246" iyz="0.00008" izz="0.12570" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-1.75356 -0.07694 0.10153" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface39">
      <material name="M_MannequinUE4_Body.001" />
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="0.00000 -0.00000 0.00000" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface39.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Middle2_R">
    <inertial>
      <inertia ixx="0.02288" ixy="-0.00084" ixz="0.00125" iyy="0.07107" iyz="-0.00005" izz="0.06826" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-1.13511 -0.04100 -0.00436" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface13">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00334 -0.00044 -0.00548" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface13.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Middle3_R">
    <inertial>
      <inertia ixx="0.01604" ixy="0.00024" ixz="0.00763" iyy="0.06481" iyz="-0.00007" izz="0.06228" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-1.00607 0.11514 0.25301" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface38">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00347 -0.00044 -0.00548" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface38.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Ring1_R">
    <inertial>
      <inertia ixx="0.03873" ixy="0.00243" ixz="0.00534" iyy="0.11677" iyz="-0.00104" izz="0.11105" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-1.46903 0.11680 0.27707" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface40">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 -0.00000 0.00000" xyz="0.00317 -0.00054 -0.00548" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface40.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Ring2_R">
    <inertial>
      <inertia ixx="0.02432" ixy="0.00253" ixz="0.00797" iyy="0.07000" iyz="-0.00123" izz="0.06654" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-1.12749 0.08804 0.18373" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface14">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00332 -0.00054 -0.00549" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface14.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Ring3_R">
    <inertial>
      <inertia ixx="0.01547" ixy="0.00270" ixz="0.00487" iyy="0.05188" iyz="-0.00038" izz="0.05106" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.86810 0.16691 0.11809" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface41">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00346 -0.00054 -0.00549" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface41.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Thumb1_R">
    <inertial>
      <inertia ixx="0.12601" ixy="-0.02600" ixz="0.01824" iyy="0.16819" iyz="0.01745" izz="0.18135" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-1.42355 -1.17422 0.05675" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface29">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00291 -0.00035 -0.00540" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface29.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Thumb2_R">
    <inertial>
      <inertia ixx="0.04976" ixy="-0.00503" ixz="-0.00802" iyy="0.10244" iyz="-0.00201" izz="0.10545" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-1.24557 -0.23300 -0.20930" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface72">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00303 -0.00027 -0.00539" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface72.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Thumb3_R">
    <inertial>
      <inertia ixx="0.03042" ixy="-0.01028" ixz="-0.00828" iyy="0.07213" iyz="-0.00144" izz="0.07284" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-1.12917 -0.15125 -0.21364" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface73">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 -0.00000 0.00000" xyz="0.00317 -0.00025 -0.00540" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface73.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="neck">
    <inertial>
      <inertia ixx="4.05819" ixy="-0.00000" ixz="0.00000" iyy="4.25950" iyz="-1.05978" izz="4.58745" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00001 -1.43989 4.44933" />
      <mass value="0.20000" />
    </inertial>
    <visual name="polySurface25">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 0.00000 -0.00000" xyz="-0.00000 -0.00022 -0.00571" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface25.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Elbow_L">
    <inertial>
      <inertia ixx="1.15629" ixy="-0.40765" ixz="0.06509" iyy="7.08899" iyz="0.03760" izz="7.17642" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="9.44699 1.11254 -0.15993" />
      <mass value="0.10000" />
    </inertial>
    <visual name="polySurface30">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="-0.00173 -0.00036 -0.00542" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface30.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Head">
    <inertial>
      <inertia ixx="5.63969" ixy="-0.00000" ixz="0.00000" iyy="4.60782" iyz="-0.58547" izz="3.88773" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00001 -3.16176 6.49792" />
      <mass value="0.10000" />
    </inertial>
    <visual name="polySurface91">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 0.00000 -0.00000" xyz="-0.00000 -0.00015 -0.00604" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface91.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Hip_L">
    <inertial>
      <inertia ixx="70.59664" ixy="0.52512" ixz="-3.98445" iyy="67.43595" iyz="-1.74085" izz="16.62078" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.85112 -0.83602 -17.18774" />
      <mass value="0.40000" />
    </inertial>
    <visual name="polySurface86">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 0.00000 -0.00000" xyz="-0.00033 -0.00002 -0.00349" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface86.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Knee_L">
    <inertial>
      <inertia ixx="39.99338" ixy="-0.46283" ixz="0.99391" iyy="37.43852" iyz="6.34454" izz="7.65069" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.60867 4.17548 -13.98565" />
      <mass value="0.30000" />
    </inertial>
    <visual name="polySurface21">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 -0.00000" xyz="-0.00033 -0.00007 -0.00192" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface21.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Foot_L">
    <inertial>
      <inertia ixx="13.68496" ixy="0.25691" ixz="0.48965" iyy="7.23424" iyz="-3.41284" izz="8.71895" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.32160 -3.71177 -7.76753" />
      <mass value="0.20000" />
    </inertial>
    <visual name="polySurface7">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 0.00000 0.00000" xyz="-0.00033 -0.00029 -0.00047" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface7.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="LeftToeBase">
    <inertial>
      <inertia ixx="0.39114" ixy="-0.23675" ixz="0.05984" iyy="0.88399" iyz="0.00783" izz="1.06082" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.06662 -3.05073 -1.12368" />
      <mass value="0.10000" />
    </inertial>
    <visual name="polySurface9">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00035 0.00031 -0.00008" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface9.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Hip_R">
    <inertial>
      <inertia ixx="70.73797" ixy="-0.55959" ixz="2.87224" iyy="67.43548" iyz="-1.72860" izz="16.47979" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-1.20384 -0.83647 -17.16656" />
      <mass value="0.40000" />
    </inertial>
    <visual name="polySurface87">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 -0.00000 -0.00000" xyz="0.00033 -0.00002 -0.00349" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface87.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Knee_R">
    <inertial>
      <inertia ixx="39.91923" ixy="0.62737" ixz="-1.86865" iyy="37.42485" iyz="6.35387" izz="7.73860" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.97817 4.18792 -13.96091" />
      <mass value="0.30000" />
    </inertial>
    <visual name="polySurface22">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00036 -0.00007 -0.00191" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface22.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Foot_R">
    <inertial>
      <inertia ixx="13.62212" ixy="-0.46073" ixz="-0.74364" iyy="7.24271" iyz="-3.39249" izz="8.77329" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.71075 -3.70421 -7.74520" />
      <mass value="0.20000" />
    </inertial>
    <visual name="polySurface8">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="0.00040 -0.00029 -0.00047" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface8.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="RightToeBase">
    <inertial>
      <inertia ixx="0.39034" ixy="0.24031" ixz="-0.02819" iyy="0.88067" iyz="-0.00313" izz="1.06495" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00724 -3.05036 -1.12662" />
      <mass value="0.10000" />
    </inertial>
    <visual name="polySurface10">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 -0.00000" xyz="0.00044 0.00031 -0.00008" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface10.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Hand_L">
    <inertial>
      <inertia ixx="3.16100" ixy="-0.21853" ixz="0.22893" iyy="8.44721" iyz="0.01375" izz="9.80747" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="4.92776 0.37719 -0.30136" />
      <mass value="0.50000" />
    </inertial>
    <visual name="polySurface4">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 0.00000 0.00000" xyz="-0.00272 -0.00039 -0.00539" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface4.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Index1_L">
    <inertial>
      <inertia ixx="0.03805" ixy="-0.00339" ixz="0.00927" iyy="0.11501" iyz="0.00023" izz="0.10943" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="1.55149 0.07494 -0.10818" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface44">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="-0.00317 -0.00030 -0.00537" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface44.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Index2_L">
    <inertial>
      <inertia ixx="0.02332" ixy="0.00214" ixz="0.00366" iyy="0.07112" iyz="-0.00026" izz="0.06767" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="1.05092 -0.06937 -0.11002" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface58">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 -0.00000 -0.00000" xyz="-0.00332 -0.00030 -0.00536" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface58.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Index3_L">
    <inertial>
      <inertia ixx="0.01442" ixy="0.00097" ixz="0.00403" iyy="0.05088" iyz="-0.00004" izz="0.04982" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.84718 -0.15300 -0.08791" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface45">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="-0.00000 0.00000 -0.00000" xyz="-0.00344 -0.00031 -0.00534" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface45.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <link name="hc_Middle1_L">
    <inertial>
      <inertia ixx="0.04402" ixy="0.00040" ixz="0.01547" iyy="0.13274" iyz="0.00031" izz="0.12305" />
      <origin rpy="0.00000 0.00000 0.00000" xyz="1.75060 0.01212 -0.13219" />
      <mass value="0.05000" />
    </inertial>
    <visual name="polySurface47">
      <material name="M_MannequinUE4_Body" />
      <origin rpy="0.00000 -0.00000 -0.00000" xyz="-0.00318 -0.00040 -0.00540" />
      <geometry>
        <mesh filename="../meshes/obj/polySurface47.obj" scale="1.00000 1.00000 1.00000" />
      </geometry>
    </visual>
  </link>
  <material name="M_MannequinUE4_Body">
    <color rgba="0.21569 0.21569 0.21569 1.00000" />
  </material>
  <material name="M_MannequinUE4_Body.001">
    <color rgba="0.21569 0.21569 0.21569 1.00000" />
  </material>
</robot>